@import './reset';
@import '../node_modules/materialize-css/sass/materialize.scss';


$catskillwhite: #F1F5F9; 
 
html, body{
  background-color: $catskillwhite; 
  height:100%;
  overflow:hidden;
  padding: 0;
  margin:0;
}

nav{
  background-color: transparent;
  box-shadow: none;
}

nav ul a{
    color: black !important;

}



