@import './reset';
@import '../node_modules/materialize-css/sass/materialize.scss';



 
html, body{
  background-color: #FFF; 
  height:100%;
  padding: 0;
  margin:0;
}

nav{
  background-color: transparent;
  box-shadow: none;
}

nav ul a{
    color: black !important;

}



